

*{
    margin: 0;
    padding: 0;
}

h1{
    color: black;
    font-size: 50px;
    background-color: aqua;
    text-align: center;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
    box-sizing: border-box;

}

.header{
    color: red;
    background-color: aqua;
    height: 50px;
    font-size: 20px;
    font-weight: 600px;
    
}

.logo{
    color: black;
    background-color: pink;
    height: 200px;
}

.banner{
    color: black;
    background-color: blanchedalmond;
    height: 200px;

}
.menu{
    color: white;
    background-color: rgba(161, 10, 161, 0.658);
    height: 50px;
    
    
}

ul{
   list-style: none;
}
ul li{
    float: left;
    padding: 10px 80px 80px 110px;
    
    
}
a{
    text-decoration: none;
    background-color: crimson;
    border-radius: 8px;
    color: black;
    border-radius: 10px;
    font-size: 30px;
    
}
a:hover{
    background-color: aqua;
    color: black;
}
.row::after{
    content:'';
    display: block;
    clear: both;
}

.box-one{
    color: black;
    background-color: aqua;
    height: 500px;
}
.box-two{
    color: black;
    background-color: rgb(157, 197, 197);
    height: 500px;
}
.box-three{
    color: black;
    background-color: rgba(162, 15, 199, 0.308);
    height: 500px;
}
.footer-1{
    background-color: antiquewhite;
    height: 80px;
    color: black;
}
.footer-2{
    background-color: rgba(15, 97, 190, 0.267);
    height: 80px;
    color: black;
}

.flex-box{
    display: flex;
    background-color: skyblue;

}
.flex-box>div{
    background-color: orangered;
    margin: 1px;
    padding: 39px;
    font-size: 20px;
    object-fit: fill;
}
.img{
    height: 150px; width: 220px;
}

